
.logo {
  width: 120px;   /* Tamaño más grande */
  height: 120px;  /* Tamaño más grande */
  object-fit: cover; /* Recortar la imagen */
  border-radius: 50%; /* Forma de círculo */
  display: inline-block;
  vertical-align: middle;
}
