.logo {
    width: 100px;   /* Tamaño más pequeño */
    height: 100px;  /* Tamaño más pequeño */
    object-fit: cover; /* Recortar la imagen */
    border-radius: 50%; /* Forma de círculo */
    display: inline-block;
    vertical-align: middle;
  }
  